/* - Form */

.form-container > * {
  @apply mb-4;
}

.form-group {
  @apply flex gap-x-4;
}

.form-group > * {
  @apply flex-grow;
}

/* - Common */

/* For controls like text input, text area, and select */
.form-input {
  @apply block w-full border border-solid border-gray-400 py-2 px-3 rounded;
  transition: border-color ease-out .2s;
}

.form-input\:read-only {
  @apply bg-gray-100;
}

.form-input\:focus {
  @apply border-gray-600;
  outline: none !important;
}

/* For controls like checkbox and radio */
.form-choicebox {
  @apply relative flex cursor-pointer;
}

.form-choicebox input {
  @apply absolute h-0 w-0 cursor-pointer hidden;
}

.form-choicebox input:disabled + [class*=-backdrop] {
  @apply bg-gray-100;
}

/* - Field / FieldArea */

.form-text,
.form-textarea {
  @apply relative block h-fit;
}

.form-text-label {
  @apply absolute translate-y-center ml-4 text-gray-600 transition-position duration-100;
  pointer-events: none;
}

.form-text-label.input-has-value {
  top: 0 !important;
}

.form-text-input {
  @apply form-input;
}

.form-text-input:focus {
  @apply form-input:focus;
}

.form-text-input:read-only {
  @apply form-input:read-only;
}

.form-textarea > .form-text-label {
  top: 1.4rem;
}

/* - Select */

.form-select {
  @apply form-input;
  @apply text-gray-600;
}

.form-select:hover,
.form-select:focus {
  @apply form-input:focus;
}

/* - Checkbox */

.form-checkbox-backdrop {
  @apply absolute top-0 left-0 border border-solid border-gray-400 rounded;
  height: 18px;
  width: 18px;
  transition-property: border-color, background-color;
  transition-timing-function: ease-out;
  transition-duration: .2s;
}

.form-checkbox-icon {
  @apply absolute top-0 left-0 opacity-0;
  height: 18px;
  width: 18px;
}

.form-checkbox-icon > svg {
  @apply absolute top-50 left-50 translate-center;
}

.form-checkbox-label {
  @apply ml-6;
}

.form-checkbox-input:checked + .form-checkbox-backdrop {
  @apply border-blue-400 bg-blue-400;
}

.form-checkbox-input:checked ~ .form-checkbox-icon {
  @apply opacity-100;
}

/* - Radio */

.form-radio-backdrop {
  @apply absolute top-0 left-0 border border-solid border-gray-400 rounded-full;
  height: 18px;
  width: 18px;
  transition-property: border-color, background-color;
  transition-timing-function: ease-out;
  transition-duration: .2s;
}

.form-radio-icon {
  @apply absolute top-0 left-0 opacity-0;
  height: 18px;
  width: 18px;
}

.form-radio-icon::before {
  @apply absolute top-50 left-50 translate-center bg-white rounded-full;
  content: ' ';
  height: 8px;
  width: 8px;
}

.form-radio-label {
  @apply ml-6;
}

.form-radio-input:checked + .form-radio-backdrop {
  @apply border-blue-400 bg-blue-400;
}

.form-radio-input:checked ~ .form-radio-icon {
  @apply opacity-100;
}

