/* - Modal */

.modal {
  @apply fixed top-0 left-0;
  transition: opacity ease-out .25s;
}

.modal.modal-show {
  @apply opacity-100 pointer-events-auto;
}

.modal.modal-hide {
  @apply opacity-0 pointer-events-none;
}

.modal .modal-backdrop {
  @apply absolute w-screen h-screen;
  background: rgba(0, 0, 0, 0.5);
}

.modal .modal-dialog {
  @apply absolute w-screen h-screen;
  transition: transform ease-out .25s;
}

.modal.modal-hide .modal-dialog {
  transform: translateY(-10%);
}

.modal.modal-show .modal-dialog {
  transform: translateY(0);
}

.modal .modal-dialog > div {
  @apply mx-auto mt-32;
  max-width: 700px;
}
